<div id="comments" class="editorial-comments-container">
  <div class="comments-terminal-header">
    <span class="comments-title">// COMMENTS &amp; REACTION THREAD</span>
    <span class="comments-badge">[GITHUB-POWERED]</span>
  </div>

  <script src="https://giscus.app/client.js"
    data-repo="vinh-gogo/glory-hinody"
    data-repo-id="R_kgDOUydxHQ"
    data-category="Announcements"
    data-category-id="DIC_kwDOUydxHc4DGpvq"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="1"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="{{ if eq .Language.Lang "en" }}en{{ else }}vi{{ end }}"
    crossorigin="anonymous"
    async>
  </script>
</div>
