<div class="single-post-meta">
  <div class="single-meta-row">
    <span class="meta-tag">// LOG</span>
    <span class="meta-slash">/</span>
    {{- if not .Date.IsZero }}
    <time class="meta-date">{{ .Date.Format "2006.01.02" }}</time>
    <span class="meta-slash">/</span>
    {{- end }}
    {{- if (.Param "ShowReadingTime") }}
    <span class="meta-readtime">{{ printf "%02d" .ReadingTime }} MIN READ</span>
    {{- end }}
  </div>

  {{- with (.Param "tags") }}
  <div class="single-tags-row notranslate" translate="no">
    <span class="tags-label">TAGS //</span>
    {{- range . }}
    <a href="{{ printf "/tags/%s/" (. | urlize) | absLangURL }}" class="tag-bracket">[{{ . }}]</a>
    {{- end }}
  </div>
  {{- end }}
</div>
