{{- $pageurl := .Permalink }}
{{- $title := .Title }}

<div class="editorial-share-bar">
  <span class="share-label">SHARE //</span>
  <div class="share-actions">
    <a target="_blank" rel="noopener noreferrer" class="share-action-link" href="https://facebook.com/sharer/sharer.php?u={{ $pageurl }}">[FACEBOOK]</a>
    <a target="_blank" rel="noopener noreferrer" class="share-action-link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ $pageurl }}&amp;title={{ $title }}">[LINKEDIN]</a>
    <a target="_blank" rel="noopener noreferrer" class="share-action-link" href="https://telegram.me/share/url?text={{ $title }}&amp;url={{ $pageurl }}">[TELEGRAM]</a>
    <a target="_blank" rel="noopener noreferrer" class="share-action-link" href="https://x.com/intent/tweet/?text={{ $title }}&amp;url={{ $pageurl }}">[X]</a>
    <button type="button" class="share-action-btn" id="btn-copy-share-url">[COPY LINK]</button>
  </div>
</div>
